@font-face {
    font-family: 'mtavruli_normal';
    src: url('../fonts/bpg_nino_mtavruli_normal.ttf') format('truetype');
}
@font-face {
    font-family: 'firago-medium';
    src: url('../fonts/FiraGO-Medium.otf') format('truetype');